* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 15px;
}
body {
  background-color: rgb(39, 41, 46);
  color: #fff;
  min-height: 100vh;
}
.App {
  width: 100%;
  max-width: 840px;
  margin: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 36px;
}
.title {
  font-size: 2.4rem;
}
.btn-menu {
  font-size: 1rem;
  padding: .625rem 1.1875rem;
  border: none;
  border-radius: .625rem;
  box-shadow: .0625rem .3125rem .9375rem #b0bcdb30;
  cursor: pointer;
}
.selectDifficulty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  padding-block: 50px;
  margin-block: calc(25%);
  background: #292a32;
  box-shadow: 0 1.875rem 3.75rem #1f2126;
}
.selectDifficulty h2 {
  font-size: 2.8rem;
  color: #e6bc25;
  margin-bottom: 20px;
}
.selectDifficulty h3 {
  cursor: pointer;
  font-size: 2.6rem;
  font-weight: 500;
  transition: color .2s;
}
.selectDifficulty h3:hover {
  color: #808080;
  text-decoration: underline;
}
.counter {
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-top: .3125rem;
  margin-bottom: 1.8rem;
}
.table {
  width: min-content;
  display: grid;
  justify-content: flex-start;
  align-items: center;
  gap: .8125rem;
  padding: 1.75rem;
  background-color: #292a32;
  box-shadow: 0 1.875rem 3.75rem #1f2126;
  border-radius: 1.25rem;
  margin: auto;
}
.table.facil {
  grid-template-columns: repeat(4, 8.75rem);
  grid-template-rows: repeat(4, 8.75rem);
}
.table.normal {
  grid-template-columns: repeat(6, 8.2rem);
  grid-template-rows: repeat(4, 8.4rem);
}
.table.dificil {
  grid-template-columns: repeat(6, 8.1rem);
  grid-template-rows: repeat(5, 8rem);
}
.card {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f738724;
  color: #ffffff;
  border: .125rem solid #fff;
  cursor: pointer;
  user-select: none; 
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.showCard .card__img {
  display: block;
  user-select: none;
}
.card__text {
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
}
.showCard .card__text {
  display: none;
}